# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.github/actions/*/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
package-lock.json
.DS_Store
.env
/.firebase
*.cache
/emulator_data

npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firestore-debug.log
database-debug.log
ui-debug.log

/.idea

psiturkit/*_turk/*
psiturkit/*_turk

public/config/version.json